p{
    font-family:sans-serif;
}

#logo{
    display: block;
    width: 54%;
    margin-left: 20%;
}
.box-one{
    text-align: center;
    margin-top: 20%;
}
.box-two{
    text-align: center;
    margin-top: 10%;
}
#footer{
    margin-top: 10px;
    background-color: black;
    height: auto;
}
.razmak{
    margin-top: 10px;
}
#usluge{
      padding: 2% 7% 0px 7%;
}
#mali-logo{
    background-image: url(../images/mali_logo.gif);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 25%;
    margin-top: 25px;
    background-position: center;
}
.footer p{
    color: white; 
    padding-top: 8%;
    text-align: center;
}
.footer ul{
    margin-top: 5%;
      margin-left: -13%;
}
.footer li{
    list-style: none;
    text-align: center;
    color:white;
}
#nav-pozicija{
    margin: 1% 10% 0% 0%;
}
#row-position{
      margin: 3% 0px 3% 0px;
}
#row-position ul{
    margin-top: 10%;
    text-decoration: none;
    list-style: none;
}
#mapa{
    width: auto;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  border-bottom: 1px solid transparent;
  padding: 0; /*removing spacing*/
  margin: 14px; /*add spacing*/
  border-bottom: 5px solid #d14545;
}
.footer a{
    color: white;
}
