
#logo{
    display: block;
    width: 54%;
    margin-left: 20%;
}
.box-one{
    text-align: center;
    margin-top: 20%;
}
.box-two{
    text-align: center;
    margin-top: 10%;
}
#footer{
    margin-top: 10px;
    background-color: black;
    height: 100px;
}
.razmak{
    margin-top: 10px;
}
#usluge{
      padding: 2% 7% 0px 7%;
}
#mali-logo{
    background-image: url(../images/mali_logo.gif);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 25%;
    margin-top: 25px;
    background-position: center;
}
.footer p{
    color: white; 
    padding-top: 9%;
    text-align: center;
}
#nav-pozicija{
    margin: 1% 10% 0% 0%;
}
